<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <facilities>
        <facility id="ibatis" type="Castle.Facilities.IBatisNet.IBatisNetFacility, Castle.Facilities.IBatisNet">
            <sqlMap id="sqlMap" config="IBatisNet.config"/>
        </facility>
    </facilities>
</configuration>
