<?xml version="1.0" encoding="utf-8" ?>

<configuration>

    <components>

        <!--Windsort test-->
        <component id="WindsorTestObject" type="Tests.WindsorTestObject, Tests"></component>

        <!--DataMapper test-->
        <component id="TestObjectDao" type="Tests.TestObjectDao, Tests"></component>
        <component id="TestNullableObjectDao" type="Tests.TestNullableObjectDao, Tests"></component>

        <!--Transaction test-->
        <component id="TransactionWindsorTest" type="Tests.TransactionWindsorTest, Tests"></component>
        <component id="ITransactionWindsorTest" service="Tests.ITransactionWindsorTest, Tests" type="Tests.TransactionWindsorTestImpl, Tests"></component>

        <!--Transaction nested test-->
        <component id="ITransactionWindsorNestedTest1" service="Tests.ITransactionWindsorNestedTest1, Tests" type="Tests.TransactionWindsorNestedTest1, Tests"></component>
        <component id="ITransactionWindsorNestedTest2" service="Tests.ITransactionWindsorNestedTest2, Tests" type="Tests.TransactionWindsorNestedTest2, Tests"></component>

    </components>

</configuration>