<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <!--<add key="ConnectionString" value="Server=(local);Database=Database;Trusted_Connection=Yes;Connect Timeout=30" />-->
    <!--<add key="ConnectionString" value="Server=(local);Database=Database;UID=sa;Pwd=;Connect Timeout=30" />-->
    <!--<add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=Database;User ID=sa;Password=;Connect Timeout=30" />-->
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=D:\DEV\GIT\CASTLE.FACILITIES.IBATISNET\SRC\TESTS\DATABASE\DATABASE.MDF;Integrated Security=True;" />
</settings>