<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <properties resource="IBatisNet.Properties.config"/>

    <settings>
        <setting useStatementNamespaces="true" />
    </settings>

    <providers resource="IBatisNet.Providers.config"/>

    <database>
        <provider name="sqlServer2.0"/>
        <dataSource name="Database" connectionString="${ConnectionString}"/>
    </database>

    <sqlMaps>

        <include resource="IBatisNet.SqlMaps.config"/>

    </sqlMaps>

</sqlMapConfig>
